
.article {
    margin-top:20px;
    /* padding: 20px 0 0; */
}
.article .path{
    font-size: 0.9em;

}

.article .title{
    /*float: left;*/
    margin-top: 20px;
    line-height: 35px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    color: #f16609;
}

.article .sub_title {
    text-align: center;
    font-size: 0.8em;

}
.article .sub_title span{
    line-height: 35px;
    /*font-size: 1em;*/
    padding:0 5px;
}
.article .content{
    padding-top: 15px;
    font-size: 0.9em;
}

/*�����Ҳ���*/
.article .summary{
    font-size: 0.9em;

}
.article .no_power{
    text-align: center;
    margin: 30px;
    color: #888;
}
.article .no_power a{
    padding: 10px 15px;
    line-height: 36px;
    border: 0;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    outline: none;
    background: #f6ab00;

}


/*.category .select {*/
    /*font-weight: bolder;*/
    /*color: #f6ab00;*/
/*}*/

