
.article {
    margin-top:20px;
    /* padding: 20px 0 0; */
}
.article td{ border:1px solid #888}
.article .path{
    font-size: 0.9em;

}

.article .title{
    /*float: left;*/
    margin-top: 20px;
    line-height: 35px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    color: #f16609;
}

.article .sub_title {
    text-align: center;
    font-size: 0.8em;

}
.article .sub_title span{
    line-height: 35px;
    /*font-size: 1em;*/
    padding:0 5px;
}
.article .content{
    padding-top: 15px;
    font-size: 0.9em;
    line-height: 2em;
}

/*文章*/
.article .summary{
    font-size: 0.9em;
}
.article .no_power{
    text-align: center;
    margin: 30px;
    color: #888;
}
.article .no_power a{
    padding: 10px 15px;
    line-height: 36px;
    border: 0;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    outline: none;
    background: #f6ab00;

}
.article .expand_read{
    margin : 25px 0 10px;
    font-size: 0.8em;
    color: #888888;
    line-height: 2em;
}
.article .expand_read a{
    color: #888888;
}
.article .expand_read .next{
    text-align: right;
}



/*文章列表查询*/
.article .query {
    margin-top: 10px ;
    padding: 5px 0;
}
.article .query div{
    display: inline-block;
    font-size: 0.8em;margin: auto;
}
.article .query .button{
    padding: 5px;
}
.article input{
    border-radius: 8px;
    box-shadow: inset 0 2px 5px #eee;
    padding: 10px;
    border: 1px solid #D4D4D4;
    color: #333333;
    margin-top: 5px;
}
.article input:focus{
    border:1px solid #50afeb;
	outline:none;
}

/*文章列表*/
.article  li{
    /*padding-top: 15px;*/
    /*font-size: 0.9em;*/
    /*line-height: 1.6em;*/
    /* width: 100%; */
    height: 25px;
    font-size: 0.9em;
    line-height:2em;
}
.article li .title_mark_red{
    display: inline-block;
    color: orangered;
}
.article li .title_mark__blue{
    display: inline-block;
    color: dodgerblue;
}
.article li label{
        float: left;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article li span {
    color: #888;
    float: right;
}
.article ul {
    padding: 0 15px;
}



/*分页*/
.article .paginator{
    text-align: center;
    margin:15px 0;
}
.button-success, .button-error, .button-warning, .button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background-color: #1CB841;
}
.button-error {
    background-color: #CA3C3C;
}
.button-warning {
    background-color: #DF7514;
}
.button-secondary {
    background-color: #42B8DD;
}
.button-select {
    color: #ffffff;
    background-color: #3c6db0;
}

.pure-paginator {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units; */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility; */
    list-style: none;
    margin: 0;
    padding: 0;
}
.pure-paginator li {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    margin: 0 2px;
}
.pure-button-primary.pure-button-active {
    background-color: #E6E6E6;
    color: #666666;
}


.article .comment{
    margin-top: 20px;
}

.article .comment .node {
    margin-top: 15px;
    padding: 15px;
    font-size: 0.9em;
    /*font-weight: bolder;*/
    /*text-align: left;*/
}
.article .comment .name {
    /*text-align: left;*/
    line-height: 32px;
    margin:0 5px;
}
.article .comment .logo {
    width:32px;
    height: 32px;
    /*margin-bottom: 15px;*/
}

.article .comment .datetime {
    font-size: 0.9em;
    text-align: right;
    line-height: 32px;
    color:#888888;
}
.article .comment .talk{
    padding:  10px 0;
}
.article .comment .answer{
    text-align: right;
    color:#3c6db0;
}
.article .comment .comment_name{
    display: inline-block;
    width: 100px;

}
.article .comment .comment_mark{
    margin-top: 5px;
    position: absolute;
    /*float: left;.*/
}
.article .comment .comment_content{
    width: 400px;
    height: 200px;
    margin-left: 105px;
     border-radius: 8px;
     box-shadow: inset 0 2px 5px #eee;
     padding: 10px;
     border: 1px solid #D4D4D4;
     color: #333333;
     margin-top: 5px;
}
.article .comment .comment_content:focus{
    border:1px solid #50afeb;
	outline:none;
}
.article .comment  .comment_qr{
    width: 72px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
}
.article .comment .comment_des {
    font-size: 0.6em;
    color: #888888;
}



.article select {
    border-radius:8px;
    box-shadow:inset 0 2px 5px #eee;
    padding:10px;
    border:1px solid #D4D4D4;
    color:#333333;
    margin-top:5px;
}
.article select:focus{
    border:1px solid #50afeb;
	outline:none;
}

