
.page_error{
    text-align:center;
}
.page_error .e_404{
    font-size: 6em;
    font-weight: bolder;
    margin: 50px 0 25px;
}
.page_error .title{
    font-size: 2em;
    font-weight: bolder;
    margin: 25px;
}

.page_error .des{
    font-size:1rem;
    text-align: center;
}
.page_error table{
    margin: auto;
}
.page_error td ,.page_error tr ,.page_error th {
    border: 1px #000 solid;
}
.page_error tr ,.page_error th {
   padding: 5px 10px;
}
.page_error td  {
   padding: 0 10px;
}