
.register {
    margin-top:20px;
    /* padding: 20px 0 0; */
}
.register .path{
    font-size: 0.9em;

}


.register .content{
    padding-top: 15px;
    font-size: 0.9em;
}

.register .title{
    /*float: left;*/
    line-height: 35px;
    /*text-align: center;*/
    font-size: 1.2em;
    font-weight: bolder;
    /*color: #f16609;*/
}
.register .node{
    /* margin-top: 10px; */
    padding-left:30px;
    /*text-align: center;*/
}
.register .node div{
    display: inline-block;
    width: 100px;
    text-align: right;
    /* line-height: 19px; */
}
.register .node span{
    font-size: 0.6em;
    color: #888888;
}
.register .node label{
    color: red;
}


.register .node li{
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
}


.register .node ul{
    padding-left: 60px;
}
.register .node li{
    line-height: 19px;
    margin-right: 10px;
}


.register .node .cover_img{
    margin:8px 5px 3px 0;
    width: 128px;
    height: 96px;
    vertical-align: middle;
}
.register textarea{
    width: 400px;
    height: 200px;
    margin-left: 105px;
    /*display: inline-bloc;*/
    /*border-radius:8px;*/
    /*box-shadow:inset 0 2px 5px #eee;*/
    /*padding:10px;*/
    /*border:1px solid #D4D4D4;*/
    /*color:#333333;*/
    /*margin-top:5px;*/
}

.register .node .qr{
    margin:0 5px ;
    width: 72px;
    height: 28px;
    display: inline-block; vertical-align: middle;
}
.register .change_qr{
    /* line-height: 41px; */
}
.register .buttons{text-align:right;}


/*�����Ҳ���*/
.register .summary{
    font-size: 0.9em;

}
.register input[type="text"],
.register input[type="password"],
.register input[type="email"] ,
.register select,
.register textarea{
    border-radius:8px;
    box-shadow:inset 0 2px 5px #eee;
    padding:10px;
    border:1px solid #D4D4D4;
    color:#333333;
    margin-top:5px;
}
.register input[type="text"]:focus,
.register input[type="password"]:focus,
.register input[type="email"]:focus ,
.register select:focus ,
.register textarea:focus{
    border:1px solid #50afeb;
	outline:none;
}
.register input[type="button"],
.register input[type="submit"] {
    padding:7px 15px;
    background-color:#3c6db0;
    text-align:center;
    border-radius:5px;
    overflow:hidden;
    min-width:80px;
    border:none;
	color:#FFF;
	box-shadow:1px 1px 1px rgba(75,75,75,0.3);
}
.register input[type="button"]:hover,
.register input[type="submit"]:hover {
    background-color:#5a88c8;
}
.register input[type="button"]:active,
.register input[type="submit"]:active {
    background-color:#5a88c8;
}
