




/*搜索框*/
.skin_search_input{
    /*border: 2px solid #f6ab00;*/

    width: 420px;
    line-height: 36px;
    padding: 0 10px;
    margin-left: 120px;
    outline: none;
    border: 2px solid cornflowerblue;
    font-size:0.8em;

}
.skin_search_btn{

    width: 90px;
    line-height: 36px;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    /*background: #f6ab00;*/
    background: cornflowerblue;
}

/*tab菜单栏颜色*/
.skin_tab_title{
    width: 220px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    /*background: #f6ab00;*/
    background: cornflowerblue;
}

/*滚动条左侧菜单，鼠标移动之后变色*/

.skin_swiper_node{
    position: relative;
    /*padding: 9px 0 8px 20px;*/
    height: 61px;
}
.skin_swiper_node:hover .dialog{
    display: block;
    color: #000 !important;;
}

.skin_swiper_node:hover{
    /*background-color: #f6ab00;*/
    background-color: cornflowerblue;
    color: #fff !important;
}
.skin_swiper_node:hover .title{
    /*background-color: #f6ab00;*/
    /*background-color: cornflowerblue;*/
    color: #fff !important;
}
.skin_swiper_node:hover .content{
    /*background-color: #f6ab00;*/
    /*background-color: cornflowerblue;*/
    color: #fff !important;
}

    /*登陆按钮颜色*/
.skin_login,.skin_register{
    display: inline-block;
    width: 103px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    /*border: 1px solid #f6ab00;*/
    border: 1px solid cornflowerblue;
}
.skin_login{
    /*background: #f6ab00;*/
    background-color: cornflowerblue;
    color: #fff;
    margin: 0 2px;
    border-radius: 5px;
}
.skin_register{
    /*color: #f6ab00;*/
    /*background-color: cornflowerblue;*/
    border-radius: 5px;
}


/*目录选择颜色*/
.skin_category_select{
    font-weight: bolder;
    /*color: #f6ab00;*/
    color: cornflowerblue;
}