.trade{
    margin-top:20px;
}

.trade .title{
    padding: 15px 15px 0;
    font-size: 0.8em;
    text-align: center;
    line-height: 25px;
}

.trade .content{
    padding: 0 15px ;
    font-size: 0.8em;
    text-align: center;
    line-height: 25px;
}

.trade .node{
    text-align: center;
    width: 206px;
    margin:0 10px;
}