/*½»Ò×Ä£¿é*/
.trade{
     margin-top:20px;
}

.trade .title{
    padding: 15px 15px 0;
    font-size: 0.8em;
    text-align: center;
    line-height: 25px;
}

.trade .content{
    padding: 0 15px ;
    font-size: 0.8em;
    text-align: center;
    line-height: 25px;
}

.trade .node{
    text-align: center;
}

.trade .arrow_up , .trade .arrow_down{
     font-weight:bolder;
}
.trade .arrow_up{
    color:red;    
}

.trade .arrow_down{
    color:green;
}